<h1>Listing componentes</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th>Proveedor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @componentes.each do |componente| %>
  <tr>
    <td><%= componente.descripcion %></td>
    <td><%= componente.proveedor_id %></td>
    <td><%= link_to 'Show', componente %></td>
    <td><%= link_to 'Edit', edit_componente_path(componente) %></td>
    <td><%= link_to 'Destroy', componente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Componente', new_componente_path %>
