<%= form_for(@capacidad) do |f| %>
  <% if @capacidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capacidad.errors.count, "error") %> prohibited this capacidad from being saved:</h2>

      <ul>
      <% @capacidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
