<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @capacidad.numero %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @capacidad.descripcion %>
</p>


<%= link_to 'Edit', edit_capacidad_path(@capacidad) %> |
<%= link_to 'Back', capacidades_path %>
