<h1>Listing accesorios</h1>

<table>
  <tr>
    <th>Modelo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accesorios.each do |accesorio| %>
  <tr>
    <td><%= accesorio.modelo_id %></td>
    <td><%= accesorio.descripcion %></td>
    <td><%= link_to 'Show', accesorio %></td>
    <td><%= link_to 'Edit', edit_accesorio_path(accesorio) %></td>
    <td><%= link_to 'Destroy', accesorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accesorio', new_accesorio_path %>
